body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

tr:last-child td {
  padding-bottom: 0;
}

.ant-statistic-content {
  font-size: 20px;
  line-height: 28px;
}

.content {
  display: flex;
}

@media (max-width: 576px) {
  .content {
    display: block; 
  }
} 